html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a {
    outline: 0;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f50;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255, 255, 255, .7);
}

section {
    padding: 50px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, .3);
        background-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, .7);
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }
    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #fff;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.heading {
    text-align: center;
    padding-bottom: 35px;
}

.experience-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .experience-box {
        margin: 20px auto 0;
    }
}

.experience-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240, 95, 64, .9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-spaces > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}


.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    float: left;
    padding-top: 3px;
    line-height: 20px;
}

.container-fluid .navbar-brand {
    margin-left: 0px;
}

.translucent-bg {
    color: #ffffff;
}

/* ---------------------------------------------- /*
 * Resume
/* ---------------------------------------------- */

.education {
    background: #f8f7f8;
}


.resume-items {
	margin-bottom: 40px;
}

.resume-item {
	margin-bottom: 20px;
}

.resume-place {
	margin-bottom: 20px;
}

.resume-place > i,
.resume-place > h4 > i {
	color: #C4C4C4;
	font-size: 14px;
	margin-right: 5px;
}
.desc{
    margin-top: 20px;
}
.desc p {
    color: #897f8a;
    line-height: 27px;
}

.desc h4 {
    color: #5b4c5c;
    padding-bottom: 1px;
    margin-top: -8px;
}

.desc h5 {
    color: #5b4c5c;
    padding-bottom: 11px;
}

.hidden-xs {
    max-width: 100%;
    border-color: grey;
    border-width: 2px;
}

.center-block {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
 }

/*******************************************
SKILLS
*******************************************/

.item-skills {
    height: 30px;
    background: #F0563D;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
}

.skills-legend {
    margin-top: 20px;
    opacity: 0.8;
}

.skills-legend:before {
    width: 100%;
    height: 3px;
    position: relative;
    content: ' ';
    display: block;
    margin-bottom: -13px;
    background: #c6c6c6;
}

.skills-legend div {
    width: 25%;
    display: inline-block;
    font-size: 1.2em;
    color: #897f8a;
    float: left;
}

.legend:before {
    width: 3px;
    height: 10px;
    position: relative;
    content: ' ';
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background: #c6c6c6;
}

.legend-left.legend:before {
    margin-left: 0;
}

.legend-right.legend:before {
    margin-right: 0;
}

.legend-left:nth-child(2) span {
    margin-left: -25px;
}

.legend-right:nth-child(3) span {
    margin-right: -20px;
}

.legend-right {
    text-align: right;
}

.panel .btn i,
.btn span {
    color: #666666;
}

.panel .panel-heading {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    color: #262626;
    border-color: #ffffff;
}

.panel .panel-heading a {
    font-weight: 400;
    font-size: 11px;
}

.panel .panel-default {
    border-color: #cccccc;
}

.panel .panel-thumbnail {
    padding: 0;
}

.panel .img-circle {
    width: 50px;
    height: 50px;
}


/************/


/*** Box4 ***/


/************/

.box4 {
    position: relative;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.2, #f2f2f2));
    background: -moz-linear-gradient(0% 0% 360deg, #fff, #f2f2f2 20%, #fff);
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.box4:before {
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg) translate(-14px, 20px) skew(-20deg);
    -moz-transform: rotate(2deg) translate(-14px, 20px) skew(-20deg);
    -o-transform: rotate(2deg) translate(-14px, 20px) skew(-20deg);
    transform: rotate(2deg) translate(-14px, 20px) skew(-20deg);
}

.box4:after {
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    display: inline-block;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg) translate(12px, 25px) skew(20deg);
    -moz-transform: rotate(2deg) translate(12px, 25px) skew(20deg);
    -o-transform: rotate(2deg) translate(12px, 25px) skew(20deg);
    transform: rotate(2deg) translate(12px, 25px) skew(20deg);
}

.shr_box4 {
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg) translate(-20px, -15px) skew(20deg);
    -moz-transform: rotate(0deg) translate(-20px, -15px) skew(20deg);
    -o-transform: rotate(0deg) translate(-20px, -15px) skew(20deg);
    transform: rotate(0deg) translate(-20px, -15px) skew(20deg);
}

.shl_box4 {
    content: '';
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg) translate(20px, -15px) skew(-20deg);
    -moz-transform: rotate(0deg) translate(20px, -15px) skew(-20deg);
    -o-transform: rotate(0deg) translate(20px, -15px) skew(-20deg);
    transform: rotate(0deg) translate(20px, -15px) skew(-20deg);
}


/*********************************************
ABOUT ME
**********************************************/

.aboutme {
    background: #00bdbd;
    color: #fff;
    position: relative;
}

.aboutme .container {
    padding-top: 85px;
    padding-bottom: 93px;
}

.aboutTop {
    background: #00bdbd;
    height: 60px;
}

.spHeight .aboutTop {
    margin-top: -62px !important;
}

.topmar {
    margin-top: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 600;
    margin: 0px;
}

h4.subHeading {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 22px;
}

.proPic {
    text-align: center;
}


/********************************************
Social Media Links
********************************************/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
#sociallinks {
    margin: 20px 10px;
    text-align: center;
}

.socialButtons {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 52px;
    height: 52px;
    box-shadow: 0px 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 35px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}


/* facebook button class*/

.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}


/* twitter button class*/

.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}


/* google plus button class*/

.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
}


/* linkedin button class*/

.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
}


/* pinterest button class*/

.pinterestBtn {
    background: #cb2027;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
}


/* tumblr button class*/

.tumblrBtn {
    background: #3a5876;
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f09b";
    /* add tumblr icon */
}

.tumblrBtn:hover {
    color: #3a5876;
    background: #fff;
}


/* rss button class*/

.rssBtn {
    background: #e88845;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
}


/* githubt button class*/

.githubBtn {
    background: #343434;
}

.githubBtn:before {
    font-family: "FontAwesome";
    content: "\f09b";
    /* add tumblr icon */
}

.githubBtn:hover {
    color: #343434;
    background: #fff;
}


/********************************************************
Footer
*********************************************************/

.footer {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 10px
}

.footer p {
    color: #b6d5be;
    line-height: 1.666666666666667;
    margin: 25px 0;
}

.scrolltotop {
    position: fixed;
    bottom: -50px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0;
}

.scrolltotop:hover {
    color: #df5757;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.scrolltotop:hover i {
    opacity: 1;
}

.scrolltotop i {
    line-height: 40px;
    opacity: 0.5;
}

.show-to-top {
    opacity: 1;
    bottom: 20px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/***********************************************************
Contact Form
***********************************************************/

#contact form {
    margin-top: 30px;
    margin-bottom: 0;
}

#contact form input,
#contact form textarea {
    background-color: #d3d3d3;
    color: #fff;
    border: none;
    border-bottom: 2px solid #e64522;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: default;
}

#contact form input:focus,
#contact form textarea:focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 #e64522;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 #e64522;
    background-color: #e64522;
}

#contact form::-webkit-input-placeholder {
    color: #FFF;
}

#contact form:-moz-placeholder {
    color: #FFF;
}

#contact form::-moz-placeholder {
    color: #FFF;
}

#contact form:-ms-input-placeholder {
    color: #FFF;
}

#contact form input::-webkit-input-placeholder,
#contact form textarea::-webkit-input-placeholder {
    color: #FFF;
}

#contact form input:-moz-placeholder,
#contact form textarea:-moz-placeholder {
    color: #FFF;
}

#contact form button[type="submit"] {
    outline: none;
    background: #e64522;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#contact form button[type="submit"]:hover {
    background-color: #fff;
    color: #e64522;
}

.btn-outline-white {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #e64522;
}

.btn-outline-white:hover {
    background-color: #e64522;
}

.btn-big {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 40px;
}

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}